header{
    width: 100%;
    position:fixed;
    z-index:10;
    top: 0px;
    left: 0px;
}

#logoNavbar {
    width: 20vh;
}

.menuNav {
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 3px;

    font: {
        family: "Roboto", sans-serif;
        size: 1.15em;
    }

    min-height: 16vh;
}