/*scouting*/

#convocatoria {
    display: block;


    margin: {
        left: auto;
        right: auto;
    };

    padding: {
        top: 2em;
        bottom: 2em;
    };

    width: 14em;
    height: 22em;
}

