
/*clases tipografia*/

.epigrafe{
    padding-top: 5px;
    text-align: center;
    font-size: smaller;
    font-family: 'Open Sans', sans-serif;  
}

.titulo_Rosa {
    color: rosybrown;
    font-weight: bold;
    font-size: 1.5em; 
    font-family: 'Courgette', cursive;
    letter-spacing: 1px;
    text-align: center;
}

.titulo {
    text-align: left;
    color: #343A40;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1.5px solid black;
}
.negrita {
    font-weight: bold;
}

/* Header*/

header{
    width: 100%;
    position:fixed;
    z-index:10;
    top: 0px;
    left: 0px;
}

#logoNavbar {
    width: 20vh;
}

.menuNav {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 1.15em;
    min-height: 17vh;
}



/*Seccion "Seguinos en nuestras redes sociales"*/
#redesSocialesSeguinos {
    margin-top: 2em;
    display: block;
    text-align: center;
    font-size: smaller;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    background-image:linear-gradient(#585858,black) ;
    color: white;
    
}

#textDesk{
    display: none;
}

.iconosRedes:hover{
    border: white 2px solid;
}
.iconosRedes {
    width:2em;
    height:2em;
}


#redesSocialesSeguinos ul li {
    border-right: none;
    list-style: none;
    padding-left: 8px;
}

#redesSocialesSeguinos ul {
    display: inline-flex;
}









/*pie de pagina*/

#pieDePagina{
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-rows: 0.3fr 0.3fr; 
    justify-items: center;
    text-align: center;
    width: 100%;
    height: 38em ;
    background-image: linear-gradient(#585858,black);
    font-family:'Open Sans', sans-serif;
    font-size: 0.9em;
    letter-spacing: 1px;
    color: white;
    letter-spacing: 1px;
}

#logoAlteraPieDePag {
  padding-top: 10px;
  padding-bottom: 10px;
}

#copyright{
    grid-column: 1/3;
    padding-top: 1.5em;
}

#vinculosFooter {
    grid-column: 1/3;
}

#vinculosFooter li a {
    text-decoration: none;
    display: block;
    letter-spacing: 1px;
    color: white;
}

#vinculosFooter li :hover {
    text-decoration: underline;
}

#logoAlteraPieDePag{
    width: 7em;
    grid-column: 1/3;
}

#mapaGoogle {
    width: 95%;
    height: 80%;
    grid-column: 1/3;
}


/*Medias Querys*/



/*Staff*/

.container {
    display: grid;
    padding-top: 2em;
    grid-template-columns: 1fr .5fr .5fr 1fr;
    grid-template-rows: 1fr;
    grid-gap:10px;
}

.elias {
    grid-column:1/3 ;
}
.rachel {
    grid-column: 3/5 ;
}

.frangi {
    grid-column: 1/2;
    grid-row:4/5 ;
}

.gabo {
    grid-column: 2/4;
    grid-row:4/5 ;
}
.jose {
    grid-column:4/5 ;
    grid-row: 4/5;
}

}



